
body{

background:#0b6623;
color:white;
font-family:Arial;
text-align:center;

}

.box{

background:#1e1e1e;
margin:15px;
padding:15px;
border-radius:10px;
box-shadow:0 0 10px black;

}

.container{

display:flex;
justify-content:center;
gap:20px;

}

.col{

background:black;
padding:20px;
border-radius:10px;
width:150px;

}

input{

padding:10px;
width:150px;

}

button{

padding:10px;
background:gold;
border:none;
cursor:pointer;

}
