body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}

button{
padding:10px 15px;
margin:5px;
font-size:16px;
}

.box{
background:#1e293b;
padding:15px;
margin:10px;
border-radius:8px;
}

.cell{
width:16px;
height:16px;
display:inline-block;
margin:2px;
border-radius:3px;
}

.h{background:#16a34a}
.l{background:#2563eb}
