body{

background:#0a5c2e;
color:white;
font-family:Arial;
text-align:center;

}

.table{

display:flex;
justify-content:center;
margin:20px;

}

.zero{

background:green;
width:60px;
height:360px;
display:flex;
align-items:center;
justify-content:center;
font-size:24px;
cursor:pointer;
border:2px solid white;

}

.grid{

display:grid;
grid-template-columns:repeat(3,60px);

}

.number{

width:60px;
height:30px;
display:flex;
align-items:center;
justify-content:center;
cursor:pointer;
border:1px solid white;

}

.red{

background:#c0392b;

}

.black{

background:#2c3e50;

}

.number:hover{

filter:brightness(1.5);

}

.active{

box-shadow:0 0 20px yellow;
transform:scale(1.2);

}

.box{

background:black;
padding:10px;
margin:5px;
display:inline-block;

}

.predictBox{

background:gold;
color:black;
padding:15px;
margin:10px;
font-size:20px;

}

.historyBox{

background:black;
height:150px;
overflow:auto;
margin:10px;
padding:10px;

}
